/* styles for the whole webpage */
html body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold", sans-serif;
    line-height: 1.5;
}

p {
    color: grey;
}

/* sections */
.container-fluid {
    padding: 7% 15%;
}

.colored-section {
    background: #ff4c68;
    color: #fff;
}

.white-section {
    background: #fff;
}

/* header section */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Ubuntu";
}

.nav-item {
    padding: 1.2rem;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.header-section {
    padding: 3% 15% 7%;
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

.header-button {
    margin: 5% 3% 5% 0;
}

.header-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
}

/* Section 1 (attribute section) */
.attribute-section {
    position: relative;
}

.attribute-box {
    padding: 4.5%;
}

.attribute-box i {
    color: #ef8172;
    margin-bottom: 1rem;
}

.attribute-box i:hover {
    color: #ff4c68;
}

.attribute-box h3 {
    font-size: 1.5rem;
}
 
/* Section 2 (Carousel section) */
.carousel-section {
    background: #ef8172;
}

.carousel-text {
    font-size: 2.7rem;
}

.carousel-item img {
    border-radius: 50%;
    width: 10%;
    margin: 1.2rem;
}

.carousel-logo img{
    width: 15%;
    margin: 1.2em 1.2em 8%;
}


/* Section 3 (Price section) */

.price-section {
    padding: 6rem;
}

.price-heading {
  font-size: 3rem;
}

.pricing-card {
    padding: 3% 2%;
}

/* Section 4 (download-section) */

.download-section button {
    margin: 5% 3% 5% 0;
}

.download-section h2 {
    font-size: 3rem;
}


/* footer section */
.footer-section {
    padding: 7% 18% 3%;
}

.footer-section i {
    padding: 2% 1%;
    font-size: 1.2rem;
}

.footer-section i:hover {
    cursor: pointer;
}



/* media queries */

@media (max-width: 922px){
    .header-image {
        position: static;
        transform: rotate(0);
    }
    .header-section {
        text-align: center;
    }
}

