/* styles for the whole webpage */
html body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

header {
    background-color: #ff4c68;
    color: white;
}

.color-section {
    background: #ff4c68;
    color: #fff;
}

.white-section {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 800;
    line-height: 1.5;

}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

p {
    color: grey;
}

.container-fluid {
    padding: 7% 15%;
}

/* header section */
.navbar {
    padding: 0 0 4.5em;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 600;
    font-family: "Ubuntu";
}

.nav-link {
    padding: 0 1.2em;
    font-size: 1.2em;
    font-family: "Montserrat-light";
}

.header-h1 {
    text-align: left;
}

.header-button {
    margin: 5% 3% 5% 0;
}

.header-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Section 1 (attribute section) */
.attribute-section {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.attribute-section i {
    color: #ef8172;
    font-size: 3.5em;
}

.attribute-section i:hover {
    color: #ff4c68;
}

.attribute-section h3 {
    padding: 0.5em 0 0.2em;
    font-weight: 600;
}
 
/* Section 2 (Carousel section) */
.carousel-section {
    background: #ef8172;
    color: #fff;
    padding: 5em 0;
}

.carousel-section h2 {
    margin-bottom: 1em;
}

.carousel-section img {
    width: 15%;
    margin: 1em 1em;
}

.carousel-image {
    border-radius: 50%;
    width: 12% !important;
}

.carousel-item {
    padding: 7% 15%;
}


/* Section 3 (Price section) */

.price-section {
    padding: 4em;
}

.custom-card {
    padding: 3% 2%;
    text-align: center;
}

/* Section 4 (download-section) */
.download-section {
    padding: 7% 18%;
    background: #ff4c68;
}

.download-section h2{
    color: #fff;
}

.download-section button {
    margin: 5% 3% 5% 0;
}


/* footer section */
.footer-section {
    background: #fff;
    padding: 7% 18% 3%;
}

.footer-section i {
    padding: 2% 1%;
}

.footer-section i:hover {
    cursor: pointer;
}



/* media queries */

@media (max-width: 1028px){
    .header-image {
        position: static;
        transform: rotate(0);
    }
    .header-section {
        text-align: center;
    }
}